.header {
  width: 100%;
  display: flex;
  padding: 5px 20px;
  height: 56px;
  justify-content: space-around;
  align-items: center;
  top: 0;
  position: sticky;
  z-index: 999;
  border: 1px solid #eef3f7;
  background-color: white;
  /* background-color: lightgray; */
}
.header__left {
  display: flex;
  align-items: center;
}
.header__left > img {
  height: 40px;
  object-fit: contain;
  margin-right: 5px;
}

.header__search {
  display: flex;
  padding: 8px;
  align-items: center;
  background-color: #eef3f7;
  color: gray;
  border-radius: 5px;
}

.header__search > input {
  border: 0;
  outline: none;
  height: 22px;
  background: none;
  width: 200px;
}

.header__right {
  display: flex;
}
